<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>{{'naslov'|translate}}</th>
    <th>{{'ime pisca'|translate}}</th>
    <th>{{'prezime pisca'|translate}}</th>
    <th>{{'kolicina'|translate}}</th>
    <th>{{'odjeljenje'|translate}}</th>
    <th>{{'sekcija'|translate}}</th>
    <th>{{'cijena'|translate}}</th>
    <th>{{'akcija'|translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let x of bibliotekaPodaci">
    <td>{{x.id}}</td>
    <td>{{x.naslov}}</td>
    <td>{{x.imePisca}}</td>
    <td>{{x.prezimePisca}}</td>
    <td>{{x.kolicina}}</td>
    <td>{{x.odjeljenje.naziv}}</td>
    <td>{{x.sekcija}}</td>
    <td>{{x.cijena}}</td>
    <td>
      <button *ngIf="x.kolicina > 0" class="btn btn-primary" data-bs-target="#exampleModal" data-bs-toggle="modal" (click)="dodajUKorpu(x)">{{'dodaj u korpu'|translate}}</button>
    </td>
  </tr>
  </tbody>
</table>
